<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h1>TIY Sports</h1>
            <p class="lead"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>For the students of The Iron Yard</p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img src="/images/sports.jpg" alt="Sports!" class="img-circle img-responsive">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/images/football.jpg" alt="Football!">
            <div class="caption">
                <h2 class="caption text-center">Football</h2> 
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/images/baseball.jpg" alt="Baseball!">
            <div class="caption">
                <h2 class="caption text-center">Baseball</h2> 
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/images/basketball.jpg" alt="Basketball!">
            <div class="caption">
                <h2 class="caption text-center">Basketball</h2> 
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/images/quidditch.jpg" alt="Quidditch!">
            <div class="caption">
                <h2 class="caption text-center">Quidditch</h2>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning">
    <h3>We've added some brand new features in version 2.0! <a style="font-size:small" href="#">Learn more</a></h3>
</div>

<div class="well container-fluid">
    <div class="col-md-10">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Please log in to edit!
    </div>
    <div class="col-md-2 ">
        <button type="button" class="btn btn-primary">f Facebook</button>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Teams</div>
    <ul class="list-group">
        <li class="list-group-item ">
            <section class="row">
                <section class="col-md-2">
                    <img class="img-responsive img-rounded" src="/images/dartboard.png" alt="Darts!" />
                </section>
                <section class="col-md-10">
                    <h4>Tampa Dart Dynamos <span class="badge badge-pill pull-right">8 players</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. t libero.</p>
                </section>
            </section>
        </li>
        <li class="list-group-item ">
            <section class="row">
                <section class="col-md-2">
                    <img class="img-responsive img-rounded" src="/images/pingpong.jpg" alt="Ping Pong!" />
                </section>
                <section class="col-md-10">
                    <h4>St. Pete Ping Pong Power House <span class="badge badge-pill pull-right">6 players</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. t libero.</p>
                </section>
            </section>
        </li>
        <li class="list-group-item ">
            <section class="row">
                <section class="col-md-2">
                    <img class="img-responsive img-rounded" src="/images/golf.jpg" alt="Golf!" />
                </section>
                <section class="col-md-10">
                    <h4>Orlando Golf Gang <span class="badge badge-pill pull-right">6 players</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. t libero.</p>
                </section>
            </section>
        </li>
        <li class="list-group-item">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </li>
    </ul>
</div>


