<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h1>TIY Sports</h1>
            <p class="lead"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>For the students of The Iron Yard</p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img src="/images/sports.jpg" alt="Sports!" class="img-circle img-responsive">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="/images/football.jpg" class="img-responsive" alt="Football!">
        <h2>Football</h2>
    </div>
    <div class="col-md-3">
        <img src="/images/baseball.jpg" class="img-responsive" alt="Baseball!">
        <h2>Baseball</h2>
    </div>
    <div class="col-md-3">
        <img src="/images/basketball.jpg" class="img-responsive" alt="Basketball!">
        <h2>Basketball</h2>
    </div>
    <div class="col-md-3">
        <img src="/images/quidditch.jpg" class="img-responsive" alt="Quidditch!">
        <h2>Quidditch</h2>
    </div>
</div>

<div class="row">
    <div class="bg-warning">
        <!--border border-warning -->
        <p> We've added some brand new features in version 2.0! <span>Learn More</span></p>
    </div>
</div>

<div class="row bg-light">
    <div class="col-md-2">
        <p>Please log in to edit</p>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary">Facebook</button>
    </div>
</div>

<div class="row">
    <table class="table table-hover table-bordered">
        <thead class="bg-primary">
                <th scope="row"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Teams </th>
        </thead>
        <tr>
            <td>
                <img src="/images/dartboard.png" class="img-responsive img-rounded" alt="Darts!">
            </td>
            <td>
                <h4>Tampa Dart Dynamos</h4><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing.
            </td>
            <td>
                players
            </td>
        </tr>
    </table>
</div>


